{% extends 'layouts/base.html' %}

{% block content %}
<div class="about">
    <h1>About</h1>

<h3>Página creado por {{ username }}</h3>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae dicta, consequatur eligendi aspernatur laborum nobis perferendis corrupti expedita omnis eaque, soluta iusto architecto odio harum, pariatur delectus quos fuga. Molestiae?
Tempore dolore distinctio earum aperiam natus quos blanditiis assumenda facere ipsam dolor! Sunt laboriosam alias quae minima obcaecati incidunt architecto tempore dolores distinctio optio, blanditiis natus eum doloremque deleniti magni!
Aut voluptate, non quis quae molestias nihil expedita doloremque, nam mollitia, dicta explicabo sint officia numquam autem laboriosam! Impedit asperiores eligendi vel optio perferendis ipsum consequuntur tenetur commodi assumenda nihil.
Consequatur, totam tempora velit doloremque voluptate fugit aspernatur dolores. Eius nobis voluptatum accusamus reprehenderit ipsam iure quasi, incidunt pariatur illo placeat praesentium esse quia rem officiis, id amet nisi! Est!
Reprehenderit quam in velit, esse voluptas quia sint, sed consequuntur facilis porro accusamus, dolores enim ducimus nobis necessitatibus non. Vero incidunt sunt molestias aliquid odio impedit repudiandae itaque quae rem?.</p>
</div>

{% endblock %}