{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<div class="title">
    <h1>{{ title }}</h1>
    <img src="{% static '../static/myapp.jpg' %}" alt="myapp" width="120">
</div>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore perferendis eaque maxime nobis autem, cupiditate vitae, minima libero velit molestiae maiores? At rem consequatur corrupti similique rerum placeat dolorum ullam.
Delectus perspiciatis adipisci quisquam, dolorem quod aliquam beatae inventore esse nostrum? Maxime itaque et inventore possimus incidunt. Magni hic porro officiis quo? Dignissimos repudiandae assumenda provident consectetur itaque iste! Adipisci?
Debitis dolorum deleniti tempore ad, ipsam labore eos aperiam deserunt sapiente nisi fuga eius nobis rem perferendis saepe? Excepturi minima porro animi sit nulla dicta sequi suscipit non eligendi ipsa!
Nisi odio eligendi, quibusdam magnam dolores perspiciatis odit corrupti nesciunt dolor minima! Amet, vitae temporibus. Repellendus magnam sit voluptate nostrum culpa aliquid animi ea, atque eos ipsa, similique, harum tempora.
Quis nulla est hic, nesciunt atque aliquid, quas accusantium, eligendi odit quasi doloribus quia. Eius, id omnis laborum aspernatur consequuntur, tempora eligendi quod itaque, pariatur temporibus corrupti debitis dolorem exercitationem?</p>

{% endblock %}